body {
  color: #000000;
  background-color: #ffffff;
}
.bordered {
  border-top: dotted 1px #000000;
  border-bottom: solid 2px #000000;
}
div.header {
  color: #ff6a00;
}
#levNav.header {
  color: #ff6a00;
}
th {
  color: #ff6a00;
  background-color: #ffffff;
  border-top: dotted 1px #000000;
  border-bottom: solid 2px #000000;
}
th.light {
  color: #dedfe7;
}
th.lighter {
  color: #fcfcfc;
}
